/*Selector universal*/

/* * {
	padding: 0;
	margin: 0;
}
.all {
	padding-top: 40px;
	padding-left: 20px;
} */

body {
	background-color: #d4efdf;
	color: #3f3f3f;
}
.h1 {
	color: black;
}
.h2 {
	color: black;
	text-align: center;
	background: white;
	border:1px solid;

}
h3 {
	color: #313131;
}

.footer{
	background: black;
	color: white;
}

	/*Menu*/

/* .menu {
	width: 100%;
	padding: 0;
	margin: 0;
  	overflow:hidden;
  	position: fixed;
  	z-index: 100;
} */

.menu ul
{
	background-color: #00CED1;
	list-style:none;
	float:left;
	overflow: hidden;
	width:97%;
}

.menu ul li
{
	font-size: 13px;
	float:left;
	margin-top: 10px;
	margin-right:30px;
	margin-bottom:10px;
	margin-left: 10px;
	background: #00CED1;
}
.menu ul li a
{
	color: #FFFFFF;
	text-decoration:none;
	display: block;
	padding: 1px;
}
.menu ul li a:hover
{
	color: blue;
}

	/*Divitis */
#header{
	background-color: red;
}

#nav{
	background-color: purple;
}

#main{	
	background-color: blue;
}

#sidebar{
	background-color: orange;
}
	
#footer{
	background-color: green;
}

.sc1{
	color: red;
	background: blue;
}

	/*Pseudoclases */
a:link{
	color: #e19d0b;
}

a:visited{
	color: #9319a6;
}

.hovers:hover{
	color: #FF8C00;
}
.actives:active{
	color: #FF8C00;
}
form:hover{
	color: red;
}

form:active{
	color: blue;
}

input:focus{
	color: orange;
}

li:first-child{
	background: yellow;
}

li:last-child{
	background: red;
}

li:nth-child(2n){
	background: orange;
}

li:nth-child(3n){
	background: olive;
}

li:nth-child(5n){
	background: blue;
}

	/*Pseudoelemntos */
.h52{
	font-size: 15px;
}
.h52::before {
	content: "before";
	background: orange;
}
.h52::after {
	content: "after";
	background: orange;
}
.Pseudoelementos::first-letter {
	font-size: 36px;
	color: gold;
}
.Pseudoelementos::first-line {
	color: crimson;
}

	/*Combinación de selectores*/

.se  li {
	background: lightblue;
	margin-left: 40px;
}

.lec > li {
	background: plum;
	margin-left: 40px;
}

.tor p ~ p {
	background: yellow;
}

	/*Logintudes de CSS*/

/*absolutas*/
.ABSO li {
	background-color: #d4efdf;
	color: #3f3f3f;
}

.Ain {
	background:	lightgrey;
	font-size: 1in;
}
.Acm {
	background:	lightgrey;
	font-size: 1cm;
}
.Apc {
	background:	lightgrey;
	font-size: 1pc;
}
.Amm {
	background:	lightgrey;
	font-size: 1mm;
}
.Apt {
	background:	lightgrey;
	font-size: 1pt;
}

/*relativas*/
.RELA li {
	background-color: #d4efdf;
	color: #3f3f3f;
}

.Rpx {
	background:	lightgrey;
	font-size: 1px;
}
.Rem {
	background:	lightgrey;
	font-size: 1em;
}
.Rrem {
	background:	lightgrey;
	font-size: 1rem;
}
.Rex {
	background:	lightgrey;
	font-size: 1ex;
}
.Rch {
	background:	lightgrey;
	font-size: 1ch;
}
.Rnormal{
	background:	lightgrey;
}
.R16px{
	background:	lightgrey;
	font-size: 16px;
}

.Porc {
	background:	lightgrey;
	font-size: 100%;
}

.level1{
	width: 400px;
	height: 400px;
	background: red;
	font-size: 80px;
	color: black;
}
.level2{
	background: green;
	width: 50%;
	height: 50%;
	font-size: 50%;
}
.level3{
	background: blue;
	width: 50%;
	height: 50%;
	font-size: 50%;	
}

.lv3{
	font-size: 12px;
	color: white;
}
.lv2{
	font-size: 13px;
	color: white;
}
.lv1{
	font-size: 24px;
	color: white;
}

	/*El modelo de cajas*/

/*Top, Right, Bottom and Left*/
.trbl li{
	background-color: #d4efdf;
	color: #3f3f3f;
}
.Despla{
	background: #FFB6C1;
	color: black;
	padding: 30px 80px;
	border-top: 5px solid black;
	border-right:30px solid red; 
	border-bottom: 20px solid lightblue;
	border-left:80px solid white;
}

/*width y height*/
.wh1 {
	background: darkorange;
	width: 360px;
	height: 150px;
}
.wh2 {
	background: deepskyblue;
	width: 80%;
	height: 50px;
}
.wh3 {
	background: greenyellow;
	font-size: 32px;
	width: 20em;
	height: 80px;
}
/*Display*/

.displays1 div{
	border: 1px solid;
	width: 100px;
	height: 100px;
	display: inline-block;
}
.displays2 div{
	border: 1px solid;
	width: 100px;
	height: 100px;
	display: inline;
}

/*Un modelo de cajita*/
.mar {
	background: blue;
	color: white;
	width: 600px;
	height: 400px;
	justify-content: center;
}
.bor {
	background: green;
	color: black;
	width: 75%;
	height: 75%;
	margin-top:auto;
	margin-right:auto;
	margin-bottom:auto;
	margin-left:auto;
}
.pad {
	background: gray;
	color: ;
	width: 75%;
	height: 75%;
	margin-top:auto;
	margin-right:auto;
	margin-bottom:auto;
	margin-left:auto;
}
.heYwi {
	background: white;
	color: black;
	width: 75%;
	height: 75%;
	margin-top:auto;
	margin-right:auto;
	margin-bottom:auto;
	margin-left:auto;
	text-align: center;
}

.elModelo{
	background: white;
	color: black;
	text-align: center;
	width: 400px;
	height: 200px;
	padding: 20px;
	border: 25px solid blue;
	margin: 40px auto;
}
.elModelo p{
	background: red;
	text-align: center;
	padding-top: 23%;
	padding-bottom: 23%;
    margin: auto auto;
}

/*padding*/

.padd1 {
	background-color:yellow;
	width:200px;
	height:100px;
	display:inline-block;
	padding: 40px;
}
.padd2 {
	background:pink;
	width:200px;
	height:100px;
	display:inline-block;
	padding: 10px 10px 10px 20px;
}
.padd3 {
	background-color:red;
	color: white;
	width:200px;
	height:100px;
	padding: 20px;
}
.padd4 {
	background-color:blue;
	color: white;
	width:200px;
	height:100px;
	display: inline;
	padding: 40px 10px;
}

.padd5 {
	background:green;
	color: white;
	text-align: center;
	width:400px;
	height:100px;
	padding: 20px;
}

/*border*/
.bord1{
	background:darkgoldenrod;
	width: 200px;
	height:100px;
	margin-bottom: 15px;
	margin-left: 20px;

	border-top: 9px solid;
	border-right:15px dotted; 
	border-bottom: 10px dashed;
	border-left:20px double;
}
.bord2{
	background:hotpink;
	width: 200px;
	height: 100px;
	margin-top: 15px;
	margin-left: 20px;

	border-width: 20px;
	border-style: double;
	border-color: gray;
}

/*margin*/
.margin1 {
	background:#D7BDE2;
	width: 400px;
	height: 200px;
	margin-bottom: 20px;
	margin:0px 0px 0px 900px;

}
.margin2 {
	background:#EAEDED;
	width: 300px;
	height: 150px;
	margin-bottom: 20px;
	margin:0px 0px 0px 600px;

}
.margin3 {
	background:#F5B041;
	width: 300px;
	height: 100px;
	margin-bottom:20px; 
	margin:0px 0px 0px 300px;

}
.margin4 {
	background:#5499C7;
	width: 800px;
	height: 400px;	
	margin-left: 50px;
}

	/*Posicionamientos*/




























